*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.phpunit.cache
/.cursor/
/.idea/
/.nova/
/.vscode/
/.zed/
/.zcode/
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
/api.json
/openapi.json
/docs/openapi.json
/docs/api.json
Homestead.json
Homestead.yaml
Thumbs.db
database/*.sqlite
