includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/
        - modules/

    # Level 9 is the highest level
    level: 5

    ignoreErrors:
        - '#Access to an undefined property Modules\\User\\Models\\User::\$#'

    reportUnmatchedIgnoredErrors: false

    excludePaths:
        - modules/*/Tests/*
