includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/
        - modules/

    # Level 9 is the highest level
    level: 5

    ignoreErrors:
        # Example of ignoring specific errors
        # - '#Unsafe usage of new static\(\).#'

    excludePaths:
        - modules/*/Tests/*


